$grey: rgba(79, 79, 79, 1)
$medium_grey: rgba(130, 130, 130, 1)
$low_grey: rgba(189, 189, 189, 1)
    
@font-face 
    font-family: "SF Pro Display"
    src: url(../font/SFProDisplay-Regular.ttf)
    font-style: normal
    font-weight: normal

footer
    padding: 50px
    font-family: 'SF Pro Display'
    font-style: normal
    font-weight: 500

    display: grid 
    grid-template-columns: 1fr 1fr 2fr
    grid-template-rows: 1fr 1fr
    background-color: $grey
    color: #ffff
        .logo
            padding: 15,5%
            grid-column: 1/2
            grid-row: 1/2
        .map_site
            grid-column: 2/3
            grid-row: 1/2
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: repeat(4, 1fr)
            .map1
        .author
            font-family: 'SF Pro Display'
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 18px
            color: $medium_grey
            grid-column: 1/4
            grid-row: 2/3
        .social
            grid-column: 3/4
            grid-row: 1/2
