@font-face {
  font-family: "SF Pro Display Regular";
  src: url(../font/SFProDisplay-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SF Pro Display Bold";
  src: url(../font/SFProDisplay-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SF Pro Display Heavy";
  src: url(../font/SFProDisplay-Heavy.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SF Pro Display Medium";
  src: url(../font/SFProDisplay-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SF Pro Display Black";
  src: url(../font/SFProDisplay-Black.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SF Pro Display Thin";
  src: url(../font/SFProDisplay-Thin.ttf);
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 601px){

  .goodsandservices__logomobil {
    display: none;
  }

  .goodsandservices__textmobil {
    display: none;
  }

  .goodsandservices-cardmobil {
    display: none;
  }


  .goodsandservices{
    padding-top:100px;
    background-image: url(../img/fon_tovari.png);
    background-repeat: no-repeat;
  }
  .goodsandservices__h2 {
    position: absolute;
  font-family: "SF Pro Display Black";
  margin-left: 90px;
    font-size: 96px;
    color: #4F4F4F;
    text-transform: uppercase;
          }

  .goodsandservices__text {
    font-family: "SF Pro Display Medium";
    margin-left: 50px;
    padding-top: 7vh;
    margin-right: 50px;
    font-size: 18px;
    color: #4F4F4F;
        } 
      
      
  .goodsandservices__logo {
    position: relative;
    padding-left: 4.5vw;
    margin-top: 12vh;
  }

  .goodsandservices__button {
    width: 200px;
                height: 48px;
                padding-top: 14px;
                margin-left: 7%;
                background-image: url(../img/knopkafon.png);
                background-position: center;
                background-size: 300px 600px;
                color: white;
                border-radius: 30px;
                font-family: "SF Pro Display Heavy";
                text-transform: uppercase;
                font-size: 14px;
                border-width: 0px;
                box-shadow: 0px 20px 20px 0px rgba(115, 205, 0, 0.3);
                text-decoration:none;
  }

  .goodsandservices__h5 {
    font-family: "SF Pro Display Regular";
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #828282;
  }
}




@media screen and (max-width: 600px){

  .goodsandservices-card {
    display: none;
  }

  .goodsandservices-cardmobil__border {
    border-radius: 30px;
    border-width: 0px;
    box-shadow: 2px 2px 40px 4px rgba(161, 163, 159, 0.268);
  }

  .goodsandservices__h2 {
    position: absolute;
  font-family: "SF Pro Display Black";
    margin-left: 10%;
    margin-top: 20%;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #4F4F4F;
    text-transform: uppercase;
          }

  .goodsandservices__text {
    display: none;
        } 

        .goodsandservices__cardtext {
          font-family: "SF Pro Display Medium";
          font-weight: 600;
          font-size: 20px;
          line-height: 26px;
          color: #828282;
        }

        .goodsandservices__cardtext2 {
          font-family: "SF Pro Display Medium";
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          color: #BDBDBD;
        }

        .goodsandservices__textmobil {
          font-family: "SF Pro Display Medium";
    margin-left: 2vh;
    padding-top: 3vh;
    margin-right: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #828282;
        }
      

  .goodsandservices__logo {
  display: none;
  }

  .goodsandservices__logomobil {
    position: relative;
    margin-top: 25%;
    padding-left: 4.2vw;
   
  }

  .goodsandservices__h5 {
    font-family: "SF Pro Display Regular";
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #828282;
  }

}